{{ default .Env.BACKUP_SCHEDULE "0 * * * *" }}  flock -n /opt/restic-mysqldump/backup.lockfile backup.sh

{{ if default .Env.PRUNE_SCHEDULE "0 14 * * 0" }}
{{ default .Env.PRUNE_SCHEDULE "0 14 * * 0" }}  flock -n /opt/restic-mysqldump/prune.lockfile prune.sh
{{ end }}
